#banner {
  border-top: 0.5em solid #e37b40;
}

#header {
  color: #f5f5f5;
}

#header a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.subpage #header {
  background-color: #e37b40;
}

.flex-4 .box {
    width: 30% !important;
}

.flex-4 .box ul {
  text-align: left;
}

.reduced-centered {
  margin-left: 25%; width: 50%
}

.flex-4 .box img {
    -webkit-filter: contrast(80%);
    filter: contrast(80%);
}

.subpage p {
  text-align: justify;
}

/* COLOR CONFIGS ----------------------------------------------------------------------------- */

a {
  color: #0081A7;
}

h1, h2, h3, h4, h5, h6 {
  color: #0081A7;
}

section.wrapper.style1, article.wrapper.style1 {
  background: #0081A7;
}

textarea:focus {
  border-color: #0081A7;
  box-shadow: 0 0 0 1px #0081A7;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #0081A7;
  box-shadow: 0 0 0 1px #0081A7;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
  background-color: #0081A7;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
  background-color: #6692c8;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
  background-color: #4278b8;
}

#navPanel {
  background: #0081A7;
}

table thead th {
  /* color: #0081A7; */
}

table tbody th {
  border: none;
  /* border-left: 1px solid #dbdbdb; */
  border-right: 1px solid #dbdbdb;
  /* border-bottom: 1px solid #dbdbdb; */
  /* color: #0081A7; */
}

.sobre .various tr td {
  border: none;
}

table tbody th tr:nth-child(2n + 1) {
  background-color: #fff;
}

table tbody tr th:nth-child(2n + 1) {
  background-color: #fff;
}

table th {
  font-size: 100%;
  text-align: center;
}

.sobre tbody .featured {
  /* color: #0081A7; */
  color: #e37b40;
  font-weight: bold;
}

.sobre tr th table tr {
  border: none;
}

.sobre .various th {
  padding: 0px;
  border: none;
  border-right: 1px solid #dbdbdb;
}

.sobre .various th table {
  margin: 0px;
}

.sobre .various td {
  vertical-align: middle;
}

.sobre-notes tr {
  border: none;
}

.sobre-notes tr:nth-child(2n + 1) {
  background-color: #fff;
}

/* RESPONSIVE DESIGN CONFIGS ---------------------------------------------------------------- */

@media screen and (max-width: 980px) {

  .flex.flex-4 .box {
    width: 47% !important;
  }
}

@media screen and (max-width: 480px) {

  .flex.flex-4 .box {
    width: 100% !important;
  }

  .reduced-centered {
      margin-left: 5%;
      width: 90%;
  }
}
